body {
  background: #ccc;

}
.App {
  padding: 30px;
  text-align: center;
}

.theList{
  margin: auto;
  width: 256px;
  padding: 20px 0;
}

.theList li {
  color: #333;
  background-color: rgba(255,255,255,.5);
  padding: 13px 15px;
  margin-bottom: 15px;
  border-radius: 0px;
  transition: background-color .2s ease-out;
  cursor: pointer;
  list-style: none;
  text-align: left;
}

.theList li:hover {
  background-color: pink;
}
input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ffffff;
}
button {
  background: #DC143C;
  padding: 11px;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #DC143C;
  margin-left: 4px;
}

